@media screen and (min-width: 320px) {
	html {
		font-size: 50%;
	}

	.client ul li,
	#feature ul li {
		display: block;
	}

}

@media screen and (min-width: 768px) {
	html {
		font-size: 62.5%;
	}
	
	#feature li:nth-child(2) {
	    margin: 0 12px 20px;
	}

	.client ul li,
	#feature ul li {
		display: inline-block;
	}
}