html {
	font-size: 62.5%;
}

body {
	font-family: 'Roboto Slab', serif;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
}

ul li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: inherit;
}

/*----------------------------------- header ---------------------------*/

header {
	background-color: #edeff1;
	padding: 46px 0 47px;
	overflow: hidden;
	width: 100%;
	position: fixed;
	z-index: 2;
}

.logo {
	float: left;
	line-height: 3.6rem;
}

.logo h1 {
	color: #31353e;
	font-size: 3.6rem;
	font-weight: 700;
	
}

.logo span {
	width: 155px;
	color: #dd4b2b;
	font-size: 1.6rem;
	font-weight: 400;
}

nav {
	overflow: hidden;
	text-align: right;
}

header ul {
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.4rem;
	color: #31353e;
	padding-top: 5px;
}

header li {
	display: inline-block;
	padding: 15px;
	border-radius: 25px;
}


.active, nav li:hover  {
	background-color: #dd4b2b;
	color:white;
	transition: .5s;
	
}
/*--------------------------- main -------------------------------------*/

.main {
	background: url(../images/bac-section-main.jpg) center no-repeat;
	text-align: center;
	background-size: cover;
	padding: 450px 0 120px;
	overflow: hidden;
}

.main h1 {
	font-size: 7.2rem;
	font-weight: 300;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: white;
	line-height: 4.8rem;
}

.main span {
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
	color: white;
	line-height: 4.8rem;
	font-size: 3rem;
	display: block;
	padding-bottom: 122px;
	font-weight: 700;
}


.main li {
	width: 33.3%;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	float: left;
	display: inline-block;
	color: white;
	padding: 0 34px 50px;
}

.main h2 {
	padding: 28px 0;
	font-size: 3rem;
	font-weight: 700;
	line-height: 2.4rem;
}

.main p {
	color: white;
	font-family: Roboto;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 3rem;
}

.main a {
	color: #612316;
	width: 92px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
	display: block;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 20px 60px;
	clear: both;
	-webkit-border-radius: 56px;
	        border-radius: 56px;
	margin: 0 auto;
}

.main a:hover {
	background-color: #d75d0e;
	color: white;
}

/*----------------------------------- our-news ---------------------------*/

.our-news {
	background-color: #edeff1;
	text-align: center;
	padding: 100px 0;
	overflow: hidden;
	line-height: 3rem;
}

.our-news img {
	width: 100%;
	height: auto;
}

.our-news h1 {
	color: #31353e;
	font-size: 3rem;
	font-weight: 700;
	line-height: 2.4rem;
	padding-bottom: 70px;
}

.our-news li {
	width: 32%;
	display: inline-block;
	float: left;
}

.our-news li:nth-child(2) {
	margin: 0 2%;
}

.our-news h2 {
    font-size: 2.4rem;
    padding: 30px 0 15px;
    font-weight: 700;
    color: #63666e;
}

.our-news p {
	font-family: Roboto;
    font-size: 1.5rem;
    font-weight: 300;
    color: #31353e;
    line-height: 3rem;
    padding: 0 20px 39px;
}

.our-news a {
	width: 72px;
	color: #4e5159;
	font-family: Roboto;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 3rem;
	display: block;
	background-color: white;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 21px 52px 22px 56px;
	clear: both;
	-webkit-border-radius: 56px;
	        border-radius: 56px;
	margin: 0 auto;
}

.our-news a:hover {
	background-color: #dd4b2b;
	color: white;
}

/*----------------------------------- newslette ---------------------------*/

.newslette {
	background: url(../images/bac-newslette.jpg) center no-repeat;
	background-size: cover;
	padding: 80px 0;
	text-align: center;
}

.newslette h1 {
	color: white;
	font-size: 3rem;
	font-weight: 700;
	line-height: 4.8rem;
}

.newslette p {
	color: white;
	font-family: Roboto;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2.4rem;
	margin: 0 auto;
	padding: 0 0 44px;
}

.newslette form {
	width: 510px;
	height: 52px;
	position: relative;
	margin: 0 auto;
	border: 1px solid rgba(255,255, 255, 0.5);
	background-color: rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 27px;
	        border-radius: 27px;
	z-index: 1;
}


input[type="email"] {
	background: transparent;
	border: none;
	font-size: 2rem;
	color: white;
	position: absolute;
	top: 0;
	left: 30px;
	padding: 15px 0;
	width: 287px;
}

button[type="submit"] {
	font-family: RobotoSlab;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
	background: white;
	border: none;
	color: #612316;
    border-radius: 27px;
    padding: 11px 70px;
    position: absolute;
    top: 0;
    right: 0;
}

button[type="submit"]:hover {
	background-color: #dd4b2b;
	cursor: pointer;
}

/*----------------------------------- product ---------------------------*/

.product {
	padding: 65px 0 87px;
	overflow: hidden;
}

.product img {
	width: 49%;
	height: auto;
}

.product h2 {
	color: #191b29;
	font-size: 3rem;
	font-weight: 700;
	line-height: 4.8rem;
}

.product p {
	color: #191b29;
	font-family: Roboto;
	font-size: 1.6rem;
	font-weight: 300;
	line-height: 3rem;
	padding: 0 0 20px;
}


.product a {
	margin-top: 20px;
	color: white;
	width: 92px;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3rem;
	display: block;
	border: 1px solid rgba(255, 255, 255, 0.5);
	padding: 18px 71px;
	clear: both;
	-webkit-border-radius: 56px;
	        border-radius: 56px;
}

.about-product-left a,
.about-product-right a:hover {
	background-color: #d75d0e;
}

.about-product-left a:hover,
.about-product-right a {
	background-color: #4b4e73;
}


.about-product-left {
	float: left;
	width: 49%;
	margin-right: 2%;
}

.about-product-right {
	float: right;
	width: 49%;
	margin-left: 2%;
}

article {
	overflow: hidden;
	margin-bottom: 30px;
	clear: both;
}

/*----------------------------------- list-bottom-nav ---------------------------*/

.list-bottom-nav {
	background-color: #d75d0e;
	overflow: hidden;
	padding: 98px 0 80px;
	text-align: center;
}

.list-bottom-nav ul {
	float: left;
	width: 31%;
	color: white;
	font-family: Roboto;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 3.6rem;
	margin: 0 1%;
	
}

.list-bottom-nav a:hover,
footer a:hover {
	text-decoration: underline;
}
/*----------------------------------- footer ---------------------------*/


footer {
	background: url(../images/bac-newslette.jpg) center no-repeat;
	background-size: cover;
	padding: 90px 0 243px;
	text-align: center;
}

footer p {
	color: white;
	font-family: "ProximaNovaLight";
	font-size: 1.8rem;
	line-height: 2.4rem;
	font-weight: 300;
	margin: 0 auto;
}

footer a {
	font-weight: 700;
}