/* test*/
@import url {reset.css};
/*General Styles*/

html {
  height: 100%
}

body {
  font-family: Tahoma, sans-serif;
  color: #4d8eb5;
  min-height: 100%;
  margin: 0 auto;


}

.wrap {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

p {
 font-size: 14px;
 color: #4d8eb5; 
}

a {
 text-decoration: none; /* Îòìåíÿåì ïîä÷åðêèâàíèå ó ññûëêè */
 outline: none;
 color: #0094d9;
  
}

a:hover {
 text-decoration: underline;
 outline: none;
 color: #0094d9;

}

code {
 font-family: "Courier New", Courier, monospase; 
 color: #000;
}




.header {
  background: url(images/logotup.jpg) no-repeat;
  background-position: center;
  height: 235px;
}


.sidebar_left {
  float: left;
  width: 15%;
  height: 215px;
}



.sidebar_right {
 width: 15%; 
 float: right;
 height: 215px;
}

.logo {
  float: left;
  width: 70%;
  height: 215px;
  margin: auto;
}
.sidebar_left p {
  color: #a9bdd4;
  font-size: 11px;
  margin: 0;
  padding: 0;
  
   }

   .container * {
  margin: 0;

   }
   form {
    position: relative;
    top: 25px;
   }


  #form-email {
  width: 54px; 
  height: 10px;
  margin-left: 9px;
  background: url(images/login.png) no-repeat;
  border-style: none;
  font-size: 9px;
  
   } 
   
   #form-pswd {
  width: 54px; 
  height: 10px;
  margin-left: 2px;
  background: url(images/pswd.png) no-repeat;
  border: none;
  font-size: 9px;
  
   }

  #vxod {
     border: none;
     background: none;
     color: #0094d9;
     padding: 6px 0 0 0;
     text-decoration: underline;
     font-size: 11px;
     padding: 0;

     
   }


#RSS {
   float: left;
  margin: 75px 0 0 0; 
   }

   .logo  {
    font-size: 10px;
   }

  nav {
    display: inline-block;
      position: relative;
      top: -5px;

  }

  nav ul {
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  font-size: 11px;
  padding-right: 34px;
  padding-bottom: 8px;
 
}

nav ul li:nth-last-child(1) {
  padding-right: 0;
}



#strelka_vlevo {
  position: absolute;
  top: 170px;
  left: 145px;
  cursor: pointer;
}
#strelka_vpravo {
  position: absolute;
  top: 170px;
  right: 143px;
  cursor: pointer;
}


  .sidebar_right {
    position: relative;
    top: 15px;
   float: right;
   font-size: 10px;
   color: #a9bdd4;
   text-align: right;
   }
    .tel ul li {
    list-style-type: none; 
   }
.container {
background: url(images/fon_cont.jpg) repeat-x;
background-position: center top; 
overflow: hidden;
padding-top: 27px;
}




#sidebar {
  width: 186px;
float: left;
}

#content{
  width:539px;
  float: left;
}
  #aside {
    width: 175px;
    float: right;
  }
#sidebar p {
  font-size: 11px;
  padding-bottom: 7px;
  padding-left: 8px;
 }

 .picture {
  float:left;
  padding-right: 10px;
  padding-bottom: 20px;
  clear: both;
 }

 .date {
  font-size: 10px;
  color: #a9bdd4;
  padding: 0;
 }
  h4 {
    font-weight: 400;
    display: inline;
 }
 .info p {
  font-size: 11px;
  padding-right: 10px;
  margin-bottom: 10px;
 }
 footer img {
  padding-top: 105px;
  padding-bottom: 10px; 

 }
  ul.top {
  margin: 0;
  padding: 0;
  list-style-type:none;
  }

 .top a {
  display:block; 
  height: 13px;
  background: url(images/icon.png) no-repeat;
  
 }

 #home a {
  width: 13px;
  position: absolute;
  top: 172px;
  right: 42px;
 }
#home a:hover {
  background-position: 0 -13px;
}
#message a {
  background-position: -13px 0;
  position: absolute;
  top: 172px;
  right: 20px;
  width: 22px;
}
#message a:hover {
  background-position: -13px -13px;
}

#map a {
  background-position: -35px 0;
  position: absolute;
  top: 172px;
  right: 0;
  width: 20px;
}
#map a:hover {
  background-position: -35px -13px;
}

#RSS a {
  background-position: -55px 0;
  position: absolute;
  top: 172px;
  left: 0;
  width: 13px;
}



.carousel li {
  width: 29px;
  height: 43px;
  display: inline-block;
  background: url(images/flag.png);
}
li.one {
  position:relative;
  top:135px;
  
}
.one a {
    position: relative;
    top: 23px;
    left: 23px;
}
li.two {
  background-position: -29px 0;
    position: relative;
    top: 130px;
    left: 60px;
}
.two a {
    position: relative;
    top: 22px;
    left: 20px;
}

li.three {
  background-position: -58px 0;
    position: relative;
    top: 125px;
    left: 118px;
}
.three a {
    position: relative;
    top: 23px;
    left: 14px;
}
li.four {
  background-position: 0 -43px;
 position: relative;
    top: 125px;
    left: 185px;
}
.four a {
    position: relative;
    top: 23px;
    left: 14px;
  }
li.five {
  background-position: -31px -43px;
  position: relative;
    top: 130px;
    left: 250px;
}
.five a {
    position: relative;
    top: 23px;
    left: 8px;
  }
li.six {
  background-position: -59px -43px;
  position: relative;
    top: 135px;
    left: 305px;
}
.six a {
    position: relative;
    top: 23px;
    left: 12px;
  }

 

